<template>
   <Button label="Авторизация" class="p-button-raised p-button-rounded" />
   <InputText type="text" v-model="value" />
</template>

<script>

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button {
  font-weight:bold ;
};
</style>
